body {
  font-family: Ubuntu;
}
.container {
  width: 80%;
}
.header-top {
  background: transparent;
  height: 10vh;

  position: relative;
  z-index: 300;
}

.title-logo {
  display: flex;

  height: 100%;
  align-items: center;

  font-size: 26px;
  font-family: Roboto;
  font-weight: bold;

  text-transform: uppercase;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 10vh;
}

.menu a {
  display: block;

  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  font-family: Poppins;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  transition: color, border 0.5s;
}

nav a:hover,
nav a.active:hover {
  text-decoration: none;
  border-bottom: 2px solid #169db4;
  color: #169db4;
}

nav a.active {
  border-bottom: 2px solid #169db4;
  color: #169db4;
}

/* Slider */
.home-slider {
  height: 80vh;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.home-slider .testimonial {
  height: 80vh !important;

  display: flex;
  align-items: center;
}

.testimonial :is(h1, h2, h3, h4) {
  font-family: Poppins !important;
}

/* SOBRE */
.sobre-section {
  height: 38vh;
}
.sobre-content {
  border-radius: 0.25rem;
  height: 25vh;
  /* background: linear-gradient(#169db4, #169db4); */
}

.card-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Poppins;

  border: 2px solid #000;
  border-radius: 0.25rem;

  color: #000;
}

/* SECTION BANNER */
.banner {
  width: 100%;
  height: 30vh;
  background: linear-gradient(#000000a6, #000000a6),
    url(../images/publicidade.jpg);
  background-size: cover;
  background-position: center;

  margin-bottom: 4rem;
}

/* SECTION ESTACIONAMENTOS */
.estacionamentos {
  height: 60vh;
  margin-bottom: 4rem;
}

.card-estacionamento {
  height: 60vh;
  box-shadow: 0 0 2px #00000013;

  border: 2px solid #000;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  color: #000;
}

.card-estacionamento button {
  width: 70%;
  height: 7vh;

  margin: 0 auto;
  margin-bottom: 1rem;
  background: #169db4;
  border: none;
  border-radius: 0.25rem;

  color: #fff;

  font-weight: bold;
}

.card-estacionamento button.free {
  background: #242424;
}
.card-estacionamento button.mbora {
  background: #dbb404;
}
.card-estacionamento button.plus {
  background: #169db4;
}
.card-estacionamento ul {
  margin: 0;
  padding: 0;
}
.card-estacionamento ul li {
  color: #000;
  list-style: none;
  margin-bottom: 1rem;

  font-family: Poppins;
  text-align: center;
}

/* TESTEMUNHOS */
.testemunhos {
  height: 53vh;
  background: linear-gradient(#000000c4, #000000c4), url(../images/bg-7.jpg);
  margin-top: 6rem;

  padding: 3rem 0;
}

.testemunha {
  border-radius: 0.25rem;
  background-color: #000;
  height: 38vh;

  border: 2px solid #ffffff2d;
}

/* MAPA */
.contactos {
  height: 50vh;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.mapa {
  height: 50vh;
}

/* FOOTER */
footer {
  background: #242424;
  height: 30vh;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Poppins;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Loader */

.loader {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  z-index: 500;
  position: fixed;
}

.loader img {
  width: 30%;
}
