body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
input {
  font-family: Poppins;
  color: rgb(82, 82, 82);
}

input {
  border-radius: 0.25rem;
  border: 1.5px solid #2b96da;
  padding: 15px;
  margin-bottom: 1rem;
}

/* Todos os botões */

.btn-submit {
  border-radius: 0.25rem;
  border: 1.5px solid #2b96da;

  width: 350px;
  padding: 15px;

  background: #2b96da;
  color: #fff;

  font-weight: bold;
}

.btn {
  width: 200px;
  height: 2rem;
  background: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 0.25rem;

  font-family: Poppins;

  color: #2b96da;

  text-decoration: none;

  font-weight: bold;
}

/* bg-active-fundo */
.bg-pontinho-active {
  background-image: url(../img/fundo/bg-fundo.svg);
  background-repeat: no-repeat;
  background-position-x: -2.2rem;
  background-position-y: 520px;
}
